@model CreateSliderDto
@{
    ViewData["Title"] = "CreateSlider";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h1>CreateSlider</h1>


<div class="container">
    <div class="page-inner">
        <div class="page-header">
            <h3 class="fw-bold mb-3">Slider</h3>
            <ul class="breadcrumbs mb-3">
                <li class="nav-home">
                    <a href="#">
                        <i class="icon-home"></i>
                    </a>
                </li>
                <li class="separator">
                    <i class="icon-arrow-right"></i>
                </li>
                <li class="nav-item">
                    <a href="#">Tables</a>
                </li>
                <li class="separator">
                    <i class="icon-arrow-right"></i>
                </li>
                <li class="nav-item">
                    <a href="#">Add Slider</a>
                </li>
            </ul>
        </div>
        <div class="row">

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Create New Slider</div>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            <label>Slider Title Text</label>
                            <input type="text" asp-for="SliderTitle" class="form-control" />
                            <br />
                            <label>Image Url</label>
                            <input type="text" asp-for="SliderImageUrl" class="form-control" />
                            <br />
                            <button class="btn btn-primary">Create Slider</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
