@model UpdateSliderDto
@{
    ViewData["Title"] = "UpdateSlider";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h1>UpdateSlider</h1>

<div class="container">
    <div class="page-inner">
        <div class="page-header">
            <h3 class="fw-bold mb-3">Categories</h3>
            <ul class="breadcrumbs mb-3">
                <li class="nav-home">
                    <a href="#">
                        <i class="icon-home"></i>
                    </a>
                </li>
                <li class="separator">
                    <i class="icon-arrow-right"></i>
                </li>
                <li class="nav-item">
                    <a href="#">Update Category</a>
                </li>
                <li class="separator">
                    <i class="icon-arrow-right"></i>
                </li>
                <li class="nav-item">
                    <a href="#">Update Slider</a>
                </li>
            </ul>
        </div>
        <div class="row">

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Update Slider Panel</div>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            <input type="hidden" asp-for="SliderID" class="form-control" />
                            <br />
                            <label>Category Name</label>
                            <input type="text" asp-for="SliderTitle" class="form-control" />
                            <br />
                            <label>Category Name</label>
                            <input type="text" asp-for="SliderImageUrl" class="form-control" />
                            <br />
                            <button class="btn btn-info">Update Slider</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

